<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <form>
      <mat-form-field class="FormFeild">
        <input #shopInput (keyup)="0" matInput placeholder="Select Shop" aria-label="shop" [matAutocomplete]="auto" [formControl]="shopCtrl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let shop of filteredShopes | async" [value]="shop.shopName">
            
            <span>{{ shop.shopName }}</span> |
            <small>Location: {{shop.location}}</small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  <div class="col-3"></div>
</div>
